body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.btn-outline-success {
  border: 2px solid green;
  color: green;
}

.nav-item {
  float: right;
}

.current-page {
  background-color: green;
}

.delete {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 12px;
}

.true {
  color: green;
}

.false {
  color: red;
}

.item {
  border-bottom: 1px solid black;
  cursor: pointer;
  margin: 0 auto;
  max-width: 400px;
  list-style-type: none;
  text-align: left;
}

.nav {
  padding-right: 25px;
}

#new-do {
  border: 2px solid green;
  margin-right: 10px;
  width: 200px;
}

.sign {
  margin: 0 auto;
  width: 400px;
}


.status {
  display: inline-block;
}

.todo {
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 600px;
  text-align: center;
}

.todos {
  background-color: #FFFACD;
  border: 1px solid black;
  border-radius: 4px;
  min-height: 500px;
  padding: 1px 10px 10px 10px;
}
