body {
  margin: 0;
  padding: 50px;
  font-family: sans-serif;
}

.nav-item {
  float: right;
}

.current-page {
  background-color: green;
}

.icon {
  color: green;
}

.item {
  border-bottom: 1px solid black;
  cursor: pointer;
  margin: 0 auto;
  max-width: 400px;
  list-style-type: none
}

.nav {
  padding-right: 25px;
}

.sign-in {
  margin: 0 auto;
  width: 400px;
}

.status {
  display: inline-block;
}
